<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('../partials/dependencies') %>
</head>
<%- include('../partials/header') %>
  <body>
    <div class="main_container justify-content-md-center">
      <div class="child" id="main">
        <div class="row g-2">
          <div class="col-md">
            <div class=" input-group mb-3">
              <span class="input-group-text" for="AssessmentTitle">Title</span>
              <span></span>
              <input type="text" class="form-control" id="AssessmentTitle" placeholder="<%= jsonData.Title %>" readonly>
            </div>
            <div class=" input-group mb-3">
              <span class="input-group-text" for="AssessmentDescriptinon">Description</span>
              <input type="text" class="form-control" id="AssessmentDescriptinon"
                placeholder="<%= jsonData.Description %>" readonly>
            </div>
          </div>
          <div class="col-md">
            <div class="input-group mb-3">
              <span class="input-group-text" for="AssessmentDate">Date</span>
              <input type="date" name="AssessmentDate" id="AssessmentDate" class="form-control" min="yyyy-mm-dd"
                value="<%= jsonData.Date %>" readonly>
            </div>

            <div class=" input-group mb-3">
              <span class="input-group-text" for="AssessmentDate">Duration</span>
              <input type="number" name="AssessmentDate" id="AssessmentDate" class="form-control" min="5" max="180"
                value="<%= jsonData.Duration %>">
              <span class="input-group-text">.Minutes</span>
            </div>
          </div>
        </div>
        <form action="/submit-questionnaire" method="post" id="questionnaire">
          <!-- Loop through sections -->
          <% for (const sectionName in jsonData) { %>
            <% if (sectionName.startsWith('Section')) { %>
              <% const section=jsonData[sectionName]; %>
                <div class="accordion section" id="accordionSection1">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#section1" aria-expanded="true" aria-controls="section1">
                        <%= sectionName %>
                          <p class="container px-1 mb-1 text-center"><b>MaxPoints:<span id="section1Score">
                                <%= section.MaxScore %></b></span></p>
                      </button>
                    </h2>
                    <div id="section1" class="accordion-collapse collapse show" data-bs-parent="#accordionSection1">
                      <div class="accordion-body" id="questionsContainer1">

                        <% for (const questionName in section) { %>
                          <% if (questionName !=='MaxScore' ) { %>
                            <% const question=section[questionName]; %>
                              <h3>
                                <%= questionName %>
                              </h3>
                              <% for (const key in question) { %>
                                <% if (key !=='options' ) { %>
                                  <% if (key !=='answer' && key!=='point' && key!=='type' && key!=='correctOption' ) {
                                    %>
                                    <div>
                                      <p><b>
                                          <%= key %>:
                                        </b>
                                        <%= question[key] %>
                                      </p>
                                    </div>
                                    <% } %>
                                      <% } else { %>
                                        <div class="ans-option">
                                          <h4>Options:</h4>
                                          <% for (const optionName in question[key]) { %>
                                            <div>
                                              <input type="radio" class="form-check-input"
                                                name="<%=sectionName+'_'+questionName%>"
                                                value="<%= question[key][optionName] %>" required>
                                              <label class="form-label" for="<%=sectionName+'_'+questionName %>">
                                                <%= question[key][optionName] %>:
                                              </label>
                                            </div>
                                            <% } %>
                                              <% } %>
                                        </div>
                                        <% } %>
                                          <% } %>
                                            <% } %>

                      </div>
                      <% } %>
                        <% } %>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button">Submit</button>

</div>
        </form>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>

  </body>
  <%- include('../partials/dependencies-js') %>
</html>